@using BlazorApp.Client.SignalR

<label>
    Who are you?
    <input type="text" bind="Name" />
</label>
<button onclick="@JoinTheRoom">Join the room!</button>

<ul>
    @foreach (var message in Messages)
    {
        <li>@message</li>
    }
</ul>
@functions{
    public string Name { get; set; }
    public IList<string> Messages { get; set; } = new List<string>();
    public HubConnection Hub { get; set; }

    protected override Task OnInitAsync()
    {
        Hub = new HubConnectionBuilder()
            .WithUrl("/grouproom")
            .ConfigureLogging(factory => factory.SetMinimumLevel(LogLevel.Information))
            .Build();

        Hub.On("Joined", (string message) =>
        {
            Messages.Add(message);
            StateHasChanged();
        });

        return Task.CompletedTask;
    }

    public async void JoinTheRoom()
    {
        await Hub.StartAsync();
        await Hub.SendAsync("Join", Name);
    }
}