@using BlazorApp.Client.SignalR
@using BlazorApp.Client.Infrastructure

<label>
    Who are you?
    <input type="text" bind="Name" />
</label>
<button onclick="@JoinTheRoom">Join the room!</button>

<ul>
    @foreach (var message in Messages)
    {
        <li>@message</li>
    }
</ul>
@functions{
    public string Name { get; set; }
    public IList<string> Messages { get; set; } = new List<string>();
    public HubConnection Hub { get; set; }

    protected override async Task OnInitAsync()
    {
        await Task.Delay(10000);
        var result = await JavaScriptInvoke.InvokeJavaScriptFunctionAsync<MethodParameter>("AsyncJsFunc",new MethodParameter { IntegerValue = 4, StringValue = "String 4" });
        Console.WriteLine($"{result.StringValue} - {result.IntegerValue}");

        Hub = new HubConnection(
            "/grouproom",
            new HubConnectionOptions { Logger = LogLevel.Information });

        Hub.On("Joined", (string message) =>
        {
            Messages.Add(message);
            StateHasChanged();
        });
    }

    public async void JoinTheRoom()
    {
        await Hub.Start();
        await Hub.Send("Join", Name);
    }
}